// Main Stylesheet

/* ========Variables======= */
$primary: #5e48cc;
$secondary: #5c2751;
$black: #000000;
$white: #ffffff;

/* ========Utility======== */
body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
}

a {
  text-decoration: none;
}

.btn {
  &__back {
    color: $white;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #ffffff, $alpha: .4);
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    z-index: 1;
    
    &:active {
      background: $secondary;
      color: $white;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .5rem;
  background-color: $primary;
  color: $white;
  text-align: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  
  &-back-btn {
    font-size: 1.4rem;
    color: $white;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #ffffff, $alpha: .4);
  }

  &-options-btn {
    font-size: 1.4rem;
    color: $white;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  
  .btn {
    color: $white;
    
    i {
      font-size: 1.5rem;
    }
    
    &.active {
      background: white;
      color: $secondary;
    }
  }
}


/* =====Welcome===== */
.welcome {
  background: linear-gradient(45deg, $primary, $secondary);
  &-icon {
    font-size: 5rem;
    transform: rotateZ(45deg);
  }
}

/* ======Home Section========= */
.home {
  font-size: 90%;
}

/* ======Categories Section ====== */
.categories {
  margin: 6rem auto;
  
  &-single {
    display: block;
    background-position: center;
    background-size: cover;
  }
}


/* =======Service Section=========== */
.service {
  min-height: 100vh;

  &-tab {
    border-color: $secondary;
    border-width: 3px;

    .nav-link {
      color: $white;

      &.active {
        color: $white;
        background: $secondary;
        font-weight: 700;
        border-color: $secondary;
      }
    }
  }

  &-tab-content {
    padding-top: 1rem;
  }

  &-map {
    width: 100%;
    height: 400px;
  }
}

/* ==========Listings============= */
.listings {
  margin: 6rem auto;
}

/* ===========Profile========= */
.profile {
  margin: 6rem auto;

  &-name {
    i {
      color: $secondary;
      font-size: 5rem;
    }
  }
}

/* =========Search======= */
.search {
  margin: 6rem auto;
}